.about {
    padding: 108px 0 106px;
    text-align: center;
    background: $even-bg;

    @media (max-width: 960px) {
        padding: 40px 0;
    }

    &__title {
        position: relative;
        text-transform: uppercase;
        margin: 0 0 64px;

        &:after {
            @include centerer-x();

            content: '';
            bottom: -32px;
            width: 64px;
            height: 2px;
            background: $primary-color;
        }
    }

    &__text {
        margin-bottom: 82px;

        @media (max-width: 720px) {
            margin-bottom: 42px;
        }
    }

    &__list {
        display: flex;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        padding: 0;
        margin: 0;

        @media (max-width: 720px) {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }

    &__item {
        padding-right: 28px;

        &:last-child {
            padding: 0;
        }

        @media (max-width: 720px) {
            padding: 0;
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__header {
        font-weight: 700;
        line-height: 1;
        margin: 0 0 30px;
    }

    &__icon-wrapper {
        position: relative;
        width: 68px;
        height: 68px;
        border: 2px solid $primary-color;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        margin: 0 auto 30px;
        color: $primary-color;
    }

    &__icon {
        @include centerer-xy();
    }

    &__icon1 {

    }
}