.about {
    padding: 104px 0 102px;
    text-align: center;
    background: $even-bg;

    @media (max-width: 576px) {
        padding: 40px 0;
    }

    &__container {
        max-width: 1150px;
    }

    &__text {
        margin-bottom: 80px;

        @media (max-width: 768px) {
            margin-bottom: 42px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__item {
        /*margin-right: 25px;*/
        width: 32%;

        @media (max-width: 768px) {
            width: 100%;
            /*margin-right: 0;*/
            margin-bottom: 2.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__header {
        margin: 0 0 23px;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
    }

    &__icon-wrapper {
        position: relative;
        width: 68px;
        height: 68px;
        border: 2px solid $primary-color;
        border-radius: 50%;
        margin: 0 auto 29px;
        color: $primary-color;
    }

    &__icon {
        @include centerer-xy();
        font-size: 2rem;
    }
}