.custom {
    position: relative;
    min-height: 320px;
    padding: 70px 0 60px;
    text-align: center;
    background: #000 url(../../img/custom-bg.jpg) center/cover no-repeat;

    @media (max-width: 768px) {
        min-height: auto;
    }

    &__overlay {
        @include section-overlay(rgba(0,0,0,0.6));
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__title {
        margin-bottom: 56px;
        color: #fff;

        &:after {
            background: #fff;
        }
    }

    &__text {
        margin: 0 0 30px;
        font-family: $ff-secondary;
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
        opacity: 0.8;
    }
}