.features {
    &__feature1 {
        background: $odd-bg;
        padding: 148px 0 116px;

        @media (max-width: 960px) {
            padding: 40px 0;
        }
    }

    &__feature2 {
        background: $even-bg;
        padding: 108px 0 138px;

        @media (max-width: 960px) {
            padding: 40px 0;
        }
    }

    &__feature3 {
        background: $odd-bg;
        padding: 90px 0;

        @media (max-width: 960px) {
            padding: 40px 0;
        }
    }

    &__title {
        position: relative;
        margin: 0 0 64px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -32px;
            width: 64px;
            height: 2px;
            background: $primary-color;
        }
    }

    &__feature2-text {
        margin-bottom: 50px;
    }

    &__feature3-text {
    }

    &__feature2-image-wrapper {
        /*padding: 18px 194px 0 10px;*/
        width: 60%;

        @media (max-width: 960px) {
            width: 40%;
        }

        @media (max-width: 720px) {
            width: 100%;
            text-align: center;
        }
    }

    &__feature2-info {
        width: 40%;

        @media (max-width: 960px) {
            width: 60%;
            padding-left: 3rem;
        }

        @media (max-width: 720px) {
            width: 100%;
            padding: 2.5rem 0 0 0;
        }
    }

    &__image {
        box-shadow: 0 15px 25px 5px rgba(0,0,0,0.3);

        @media (max-width: 960px) {
            max-width: 100%;
            height: auto;
        }
    }

    &__feature3-image-wrapper {
        /*padding: 0 0 0 174px;*/
        width: 50%;
        text-align: right;

        @media (max-width: 960px) {
            width: 40%;
        }

        @media (max-width: 720px) {
            width: 100%;
            text-align: left;
        }
    }

    &__feature3-info {
        width: 50%;
        padding-right: 75px;

        @media (max-width: 960px) {
            width: 60%;
        }

        @media (max-width: 720px) {
            width: 100%;
            margin-bottom: 2.5rem;
        }
    }
}