.footer {
    padding: 20px 0 15px;
    background: #000;
    text-align: center;

    &__links {
        display: flex;
        -webkit-justify-content: center;
                justify-content: center;
        font-size: 1.25rem;
        margin-bottom: 15px;
    }

    &__link {
        color: #cccccc;
        text-decoration: none;
        margin-right: 30px;

        &:last-child {
            margin: 0;
        }
    }

    &__copy {
        font-size: 0.75rem;
        font-weight: 400;
        color: #808080;
        line-height: 1;
    }
}
