.form {
    width: 360px;

    &__header {
        padding: 19px 40px;
        background: #f5f5f5;
        text-align: center;
        font-family: $ff-main;
        font-weight: bold;
        font-size: 1.25rem;
        -webkit-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
    }

    &__header-part {
        color: $primary-color;
    }

    &__fields {
        padding: 30px 35px 50px 40px;
        background: #FFF;
    }

    &__input {
        padding: 11px 14px 9px;
        width: 100%;
        margin-bottom: 30px;
        border: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.2);
        color: #bdbdbd;
        font-size: 0.875rem;

        &:last-child {
            margin-bottom: 0;
        }

        &:focus {
            box-shadow: 0 1px 5px rgba(0,0,0,0.4);
        }
    }

    &__button {
        background: $primary-color-light;
        color: #fff;
        border: none;
        padding: 22px 40px;
        width: 100%;
        font-weight: bold;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
        -webkit-border-radius: 0 0 5px 5px;
                border-radius: 0 0 5px 5px;

        &:hover {
            background: lighten($primary-color-light, 7%);
        }
    }
}