.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 21px 0 22px;
    background-color: #000;

    &__logo-link {
        display: block;
    }

    &__logo {
        display: block;
    }
}
