.hero {
    min-height: 640px;
    background: #000 url(../../img/hero-bg.jpg) center/cover no-repeat;
    padding: 110px 0 140px;

    &__inner {
        display: flex;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: flex-end;
                align-items: flex-end;
    }

    &__title {
        position: relative;
        color: #fff;
        margin: 34px 0 82px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -40px;
            width: 64px;
            height: 2px;
            background: #fff;
        }
    }

    &__text {
        font-family: $ff-secondary;
        font-weight: 300;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 45px;
    }

    &__form {
        width: 360px;
    }

    &__form-header {
        background: #f5f5f5;
        text-align: center;
        font-family: $ff-main;
        font-weight: bold;
        font-size: 1.25rem;
        padding: 19px 40px;
        -webkit-border-radius: 5px 5px 0 0;
                border-radius: 5px 5px 0 0;
    }

    &__form-header-part {
        color: $primary-color;
    }

    &__form-fields {
        padding: 30px 35px 50px 40px;
        background: #FFF;
    }

    &__form-button {
        background: $primary-color-light;
        color: #fff;
        border: none;
        padding: 22px 40px;
        width: 100%;
        font-weight: bold;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;
        -webkit-border-radius: 0 0 5px 5px;
                border-radius: 0 0 5px 5px;

        &:hover {
            background: lighten($primary-color-light, 7%);
        }
    }
}