.hero {
    position: relative;
    min-height: 640px;
    padding: 110px 0 139px;
    background: #000 url(../img/hero-bg.jpg) center/cover no-repeat;

    @media (max-width: 576px) {
        padding: 40px 0;
    }

    &__overlay {
        @include section-overlay(rgba(0,0,0,0.48));
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__info {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
            margin-bottom: 4rem;
        }
    }

    &__logo {
        margin-bottom: 21px;
    }

    &__text {
        margin-bottom: 43px;
        padding-right: 3rem;
        font-family: $ff-secondary;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.4;
        color: #fff;
        opacity: 0.8;
    }

    &__form-wrapper {
        width: 50%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__form {
        max-width: 360px;
        margin-top: 29px;
        margin-left: auto;

        @media (max-width: 768px) {
            margin-left: 0;
        }
    }

    &__form-header {
        padding: 17px;
        border-radius: 5px 5px 0 0;
        font-family: $ff-main;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        background: #f5f5f5;
    }

    &__form-header-part {
        color: $primary-color;
    }

    &__form-fields {
        padding: 30px 38px 49px;
        background: #fff;

        @media (max-width: 768px) {
            padding: 30px 20px;
        }
    }

    &__form-input-name {
        margin-bottom: 36px;
    }

    &__form-input-email {
        margin-bottom: 46px;
    }

    &__form-button {
        width: 100%;
        padding: 20px 40px;
        border: none;
        border-radius: 0 0 5px 5px;
        font-size: 0.9375rem;
        font-weight: 600;
        line-height: 1;
        color: #fff;
        background: $primary-color-light;
        transition: 0.3s;

        &:hover {
            background: darken($primary-color-light, 20%);
        }
    }
}