.pricing {
    padding: 104px 0 96px;
    line-height: 1;
    text-align: center;
    background: $odd-bg;

    @media (max-width: 576px) {
        padding: 40px 0;
    }

    &__container {
        max-width: 1140px;
    }

    &__text {
        margin-bottom: 83px;

        @media (max-width: 576px) {
            margin-bottom: 42px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 31%;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 300px;
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__header {
        padding: 20px;
        border-bottom: 1px solid #f5f5f5;
        font-family: $ff-main;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        background: #333333;
    }

    &__payment {
        padding: 30px 30px 21px;
        color: #fff;
        background: #333333;
    }

    &__price {
        margin-bottom: 24px;
    }

    &__price-part-1 {
        font-family: $ff-secondary;
        font-size: 2.25rem;
        font-weight: 700;
    }

    &__price-part-2 {
        font-family: $ff-secondary;
        font-size: 5.875rem;
        font-weight: 700;
        line-height: 0.5;
    }

    &__payment-text {
        font-family: $ff-main;
        font-size: 0.875rem;
        font-weight: 600;
        font-style: italic;
        color: #999;
    }

    &__popular {
        min-height: 5px;
        font-family: $ff-main;
        font-size: 0.875rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        background: $primary-color;

        &--active {
            padding: 13px;
        }
    }

    &__options {
        font-family: $ff-main;
        font-size: 0.875rem;
        color: #86878B;
        text-transform: uppercase;
        background: #FFF;
    }

    &__option {
        padding: 13px 0;
        border-top: 1px solid #f5f5f5;
    }
}