.reviews {
    padding: 108px 0 100px;
    text-align: center;

    @media (max-width: 960px) {
        padding: 40px 0;
    }

    &__title {
        position: relative;
        text-transform: uppercase;
        margin: 0 0 64px;

        &:after {
            @include centerer-x();

            content: '';
            bottom: -32px;
            width: 64px;
            height: 2px;
            background: $primary-color;
        }
    }

    &__text {
        margin-bottom: 58px;

        @media (max-width: 720px) {
            margin-bottom: 30px;
        }
    }

    &__list {
        display: flex;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        padding: 0 15px;
        margin: 0;
        text-align: left;

        @media (max-width: 720px) {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-align-items: center;
                    align-items: center;
        }
    }

    &__item {
        width: 27%;

        @media (max-width: 720px) {
            width: 100%;
            max-width: 300px;

            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__quote {
        position: relative;
        color: #86878B;
        font-family: $ff-main;
        font-size: 0.875rem;
        font-weight: 400;
        font-style: italic;
        background: #f5f5f5;
        padding: 25px 20px 30px 12px;
        margin-bottom: 24px;

        &:after {
            content: '';
            position: absolute; /* Абсолютное позиционирование */
            left: 20px; bottom: -20px; /* Положение треугольника */
            border: 10px solid transparent; /* Прозрачные границы */
            border-top: 10px solid #f5f5f5; /* Добавляем треугольник */
        }
    }

    &__photo {
        display: inline-block;
        vertical-align: middle;
    }

    &__customer {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
    }

    &__name {
        font-family: $ff-main;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1;
        color: #333;
        margin-bottom: 12px;
    }

    &__position {
        font-family: $ff-main;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #86878b;
    }
}