.social {
    position: relative;
    padding: 22px 0;
    background: $even-bg;
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
            box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);

    &__info {
        width: 36%;
    }

    &__title {
        margin: 0 0 14px;
    }

    &__links {
        display: flex;
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-align-items: center;
                align-items: center;
        width: 64%;
        padding: 0 20px;
    }

    &__link {
        text-decoration: none;
        color: #cccccc;
    }
}