section.about
    .container
        h2.about__title.main-title Why this is awesome

        .about__text.text
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        ul.about__list
            li.about__item
                h3.about__header Thoughtful Design

                .about__icon-wrapper
                    i(class="fa fa-lightbulb-o fa-2x" aria-hidden="true").about__icon

                .text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra.

            li.about__item
                h3.about__header Well Crafted

                .about__icon-wrapper
                    i(class="fa fa-keyboard-o fa-2x" aria-hidden="true").about__icon

                .text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra.

            li.about__item
                h3.about__header Easy to Customize

                .about__icon-wrapper
                    i(class="fa fa-bolt fa-2x" aria-hidden="true").about__icon

                .text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra.


