section.about#about
    .container.about__container
        h2.main-title.main-title--level--2 Why this is awesome

        .about__text.text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        ul.about__list
            li.about__item
                .about__icon-wrapper
                    i(class="fa fa-lightbulb-o" aria-hidden="true").about__icon

                h3.about__header Thoughtful Design

                .text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra.

            li.about__item
                .about__icon-wrapper
                    i(class="fa fa-keyboard-o" aria-hidden="true").about__icon

                h3.about__header Well Crafted

                .text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra.

            li.about__item
                .about__icon-wrapper
                    i(class="fa fa-bolt" aria-hidden="true").about__icon

                h3.about__header Easy to Customize

                .text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Aenean euismod bibendum laoreet. Proin gravida
                    dolor sit amet lacus accumsan et viverra.

