section.contact#contact
    .container.contact__container
        h2.main-title.main-title--level--2 Contact us

        .contact__text.text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        form(method="post" action="#").contact__form
            .contact__form-fields
                .contact__form-col
                    input.input.contact__input(type="text" placeholder="Name")
                    input.input.contact__input(type="text" placeholder="Email")
                    input.input.contact__input(type="text" placeholder="Subject")

                .contact__form-col
                    textarea.input.contact__textarea(placeholder="Message")

            input.button.button--orange(type="submit" value="Send Message")