section.contact
    .container
        .h2.contact__title.main-title Contact us

        .reviews__text.text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        form(method="post" action="#").contact__form
            .contact__form-fields
                .contact__form-col
                    input.input(type="text" placeholder="Name")
                    input.input(type="text" placeholder="Email")
                    input.input(type="text" placeholder="Subject")

                .contact__form-col
                    textarea.input.contact__textarea(placeholder="Message")

            button.button.button--orange(href="#") Send Message