section.custom
    .custom__inner
        .container
            h2.custom__title.main-title Stylish axure design
            .custom__text.text.
                Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!
            button.button.button--transparent(href="#") Download
