section.custom
    .custom__overlay
    .container.custom__container
        h2.main-title.main-title--level--2.custom__title Stylish axure design
        p.custom__text.
            Use the sections you need, remove the ones you don't.  Create gorgeous prototypes faster than ever!
        a.button.button--transparent(href="#") Download
