section.features#features
    section.features__feature1
        .container.features__feature1-container
            include tabs

    section.features__feature2
        .container
            .row
                .features__feature2-image-wrapper
                    img(src="img/city2.png" alt="Город").features__image.features__feature2-image

                .features__feature2-info
                    h2.alt-title.alt-title--with--divider Sub list section
                    .features__feature2-text.text
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                            accumsan et viverra justo commodo.

                    ul.list
                        li.list__item
                            .list__icon-block
                                <i class="list__icon fa fa-cloud-upload" aria-hidden="true"></i>

                            .list__info
                                h3.list__title Title
                                .text
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean euismod bibendum laoreet.

                        li.list__item
                            .list__icon-block
                                <i class="list__icon fa fa-cloud-download" aria-hidden="true"></i>

                            .list__info
                                h3.list__title Title
                                .text
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Aenean euismod bibendum laoreet. Proin gravida dolor
                                        sit amet lacus accumsan et viverra justo commodo.

    section.features__feature3
        .container.features__feature3-container
            .row
                .features__feature3-info
                    h2.alt-title.alt-title--with--divider Standard Picture Section
                    .features__feature3-text.text
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan
                            et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis
                            natoque penatibus et magnis dis parturient montes.
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
                            bibendum laoreet.

                .features__feature3-image-wrapper
                        img(src="img/city3.png" alt="Город").features__feature3-image.features__image






