footer.footer
    .container
        .footer__links
            - var linkItems = ['facebook-f', 'twitter', 'google-plus', 'pinterest', 'instagram', 'stumbleupon', 'rss']
            - var linkUrls = ['facebook.com', 'twitter.com', 'plus.google.com', 'pinterest.com', 'instagram.com', 'stumbleupon.com', '#']

            each item, key in linkItems
                - var link = (linkUrls[key] == '#') ? '#' : ("http://" + linkUrls[key])

                a(href=link target="_blank").footer__link
                    i(class="fa fa-" + item aria-hidden="true")

        .footer__copy.
            &copy; 2015 Axure Themes