form(method="post" action="#").form

    .form__header.
        Try Your #[span.form__header-part FREE] Trial Today

    .form__fields
        input.form__input(type="text" placeholder="Name")
        input.form__input(type="text" placeholder="Email")
        input.form__input(type="text" placeholder="Password")

    button(type="submit").form__button Get Started