header.header
    .container
        .row.align-items-center
            a(href="#page-top" class="header__logo-link")
                img(src="img/logo.png" class="header__logo" alt="AXIT" width="79" height="27")
            include nav