section.hero
    .container
        .hero__inner
            .hero__col
                .hero__logo: img(src="img/logo.png" alt="AXIT" width="175" height="60")

                h1.hero__title
                    | MODERN AXURE TEMPLATE
                    br
                    | FOR BEAUTIFUL PROTOTYPES

                .hero__text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
                    br
                    | euismod bibendum laoreet. Proin gravida dolor sit amet lacus
                    br
                    | accumsan et viverra justo commodo.

                button.button.button--transparent(href="#") Download

            .hero__col
                include form
