nav.nav
    .nav__icon
        span.nav__icon-item
        span.nav__icon-item
        span.nav__icon-item
        span.nav__icon-item

    .nav__links
        - var links = ['features', 'about', 'pricing', 'reviews', 'contact']
        each link in links
            a.nav__link(href="#" + link)= link
