section.reviews
    .container
        .h2.reviews__title.main-title What our customers are saying

        .reviews__text.text.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        ul.reviews__list
            li.reviews__item
                .reviews__quote.
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Doloribus
                    accusamus expedita repellat similique
                    odio aspernatur ex, architecto eaque
                    quo suscipit.
                .reviews__customer-wrapper
                    img(src="img/avatar.png" alt="Jeremy H.").reviews__photo
                    .reviews__customer
                        .reviews__name Jeremy H.
                        .reviews__position Manager

            li.reviews__item
                .reviews__quote.
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Doloribus
                    accusamus expedita repellat similique
                    odio aspernatur ex, architecto eaque
                    quo suscipit.
                .reviews__customer-wrapper
                    img(src="img/avatar.png" alt="John S.").reviews__photo
                    .reviews__customer
                        .reviews__name John S.
                        .reviews__position Freelancer

            li.reviews__item
                .reviews__quote.
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Doloribus
                    accusamus expedita repellat similique
                    odio aspernatur ex, architecto eaque
                    quo suscipit.
                .reviews__customer-wrapper
                    img(src="img/avatar.png" alt="Susan W.").reviews__photo
                    .reviews__customer
                        .reviews__name Susan W.
                        .reviews__position Photographer
