section.reviews#reviews
    .container
        h2.main-title.main-title--level--2 What our customers are saying

        .reviews__text.text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        ul.reviews__list
            li.reviews__item
                .reviews__quote.
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Doloribus
                    accusamus expedita repellat similique
                    odio aspernatur ex, architecto eaque
                    quo suscipit.
                .reviews__customer
                    img(src="img/avatar.png" width="70" height="70" alt="Jeremy H.").reviews__photo
                    .reviews__customer-text
                        .reviews__name Jeremy H.
                        .reviews__position Manager

            li.reviews__item
                .reviews__quote.
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Doloribus
                    accusamus expedita repellat similique
                    odio aspernatur ex, architecto eaque
                    quo suscipit.
                .reviews__customer
                    img(src="img/avatar.png" width="70" height="70" alt="John S.").reviews__photo
                    .reviews__customer-text
                        .reviews__name John S.
                        .reviews__position Freelancer

            li.reviews__item
                .reviews__quote.
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Doloribus
                    accusamus expedita repellat similique
                    odio aspernatur ex, architecto eaque
                    quo suscipit.
                .reviews__customer
                    img(src="img/avatar.png" width="70" height="70" alt="Susan W.").reviews__photo
                    .reviews__customer-text
                        .reviews__name Susan W.
                        .reviews__position Photographer
