section.social
    .container
        .row
            .social__info
                h2.social__title.alt-title Social Media

                .text
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aenean euismod bibendum laoreet.

            .social__links
                - var linkItems = ['facebook-f', 'twitter', 'google-plus', 'pinterest', 'instagram', 'stumbleupon', 'rss']
                - var linkUrls = ['facebook.com', 'twitter.com', 'plus.google.com', 'pinterest.com', 'instagram.com', 'stumbleupon.com', '#']

                each item, key in linkItems
                    - var link = (linkUrls[key] == '#') ? '#' : ("http://" + linkUrls[key])

                    a(href=link target="_blank").social__link
                        i(class="fa fa-" + item aria-hidden="true")