.button {
    padding: 12px 30px;
    font-family: $ff-main;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-decoration: none;

    &--transparent {
        border: 2px solid #fff;
        background: transparent;
        transition: 0.3s;

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    &--orange {
        padding: 14px 23px;
        border: none;
        border-radius: 3px;
        background: $primary-color;
        transition: 0.3s;

        &:hover {
            background: darken($primary-color-light, 20%);
        }
    }
}