.button {
    padding: 15px 32px;
    text-decoration: none;
    color: #fff;
    font-family: $ff-main;
    font-weight: bold;

    &--transparent {
        background: transparent;
        -webkit-transition: 0.3s;
         -moz-transition: 0.3s;
          -ms-transition: 0.3s;
           -o-transition: 0.3s;
              transition: 0.3s;
        border: 2px solid #fff;

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    &--orange {
        background: $primary-color;
        border: none;
        padding: 16px 25px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        -webkit-transition: 0.3s;
           -moz-transition: 0.3s;
            -ms-transition: 0.3s;
             -o-transition: 0.3s;
                transition: 0.3s;

        &:hover {
            background: $primary-color-light;
        }
    }
}