.list {
    &__info {
        padding-left: 30px;
    }

    &__title {
        margin: 0 0 7px;
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 1;
    }

    &__item {
        display: flex;
        margin-bottom: 38px;

        &:last-child {
            margin: 0;
        }
    }

    &__icon-block {
        position: relative;
        width: 40px;
        height: 40px;
        border: 2px solid $primary-color;
        border-radius: 50%;
        flex-shrink: 0;
    }

    &__icon {
        @include centerer-xy();
        color: $primary-color;
    }
}