@mixin centerer-xy() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerer-x() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerer-y() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin section-overlay($color) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: $color;
}